<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.basics.coding.dao.UserMapper">

    <select id="selectUser" resultType="com.boot.basics.coding.dao.User">
       select * from t_user where id = #{id}
  </select>
    <select id="selectUserByName" resultType="com.boot.basics.coding.dao.User">
       select * from t_user where user_name = #{userName, jdbcType=VARCHAR}
  </select>
</mapper>